@media only screen and (max-width: 639px) {

  .sensible-table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #e8e8e8;
  }

  .sensible-table-wrapper th, .sensible-table-wrapper td {
    position: relative;
    overflow: hidden;
  }

  .sensible-table-wrapper .sensible-table-scrollable {
    margin-left: 35%;
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sensible-table-wrapper .sensible-table-scrollable th:first-child, .sensible-table-wrapper .sensible-table-scrollable td:first-child {
    display: none;
  }

  .sensible-table-wrapper .sensible-table-scrollable th[colspan], .sensible-table-wrapper .sensible-table-scrollable td[colspan] {
    display: table-cell;
  }

  .sensible-table-pinned {
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    background: #fff;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sensible-table-pinned table {
    width: 100%;
    margin-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
    border-left: none;
  }

  .sensible-table-pinned table th, .sensible-table-pinned table td {
    white-space: nowrap;
  }

  .sensible-table-pinned table td {
    display: none;
  }

  .sensible-table-pinned table td:last-child {
    border-bottom: 0;
  }
}